VITE_LIT_NETWORK=datil-test
VITE_LIT_PKP_PUBLIC_KEY=
VITE_LIT_PERMITTED_ACTIONS=share_item,publish_memory_snapshot,evaluate_continuity,verify_recovery_threshold
VITE_LIT_PERMITTED_ADDRESSES=
VITE_STORACHA_EMAIL=
VITE_STORACHA_APP_NAME=NexusVault
VITE_STORACHA_SPACE_NAME=NexusVault Space
VITE_STORACHA_SPACE_DID=
VITE_STORACHA_AUTO_CREATE_SPACE=true
VITE_STORACHA_GATEWAY_BASE=https://w3s.link/ipfs
VITE_HEARTBEAT_INTERVAL_DAYS=7
VITE_VINCENT_ENABLED=false
LIT_API_KEY=
MAINNET_RPC_URL=
SEPOLIA_RPC_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
BLOB_READ_WRITE_TOKEN=
STORACHA_AGENT_KEY=
STORACHA_AGENT_PROOF=
STORACHA_SPACE_DID=
STORACHA_GATEWAY_BASE=https://w3s.link/ipfs
VINCENT_API_KEY=
VINCENT_AGENT_WALLET_ADDRESS=
